@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --dark-gray: #3b3b3b;
  --blue: #2991d6;
  --light-gray: #d3d3d3;
  --medium-gray: #909090;
  --very-light-gray: #ededed;
  --very-dark-gray: #252525;
  --very-dark: #101010;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL STYLES */

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

.text-blue {
  color: var(--blue);
}
.color-blue-hover:hover {
  color: var(--blue);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-blue {
  background-color: var(--blue);
}

.btn-blue {
  background-color: var(--blue);
  color: var(--very-light-gray);
}

.btn-blue:hover {
  opacity: 0.9;
}

.bg-very-dark {
  background-color: var(--very-dark);
}

.btn-blue {
  background-color: var(--blue);
  color: var(--very-light-gray);
}

.btn-blue:hover {
  opacity: 0.9;
}

.btn-outline-blue {
  border: 1px solid var(--blue);
  color: var(--blue);
}

.btn-outline-blue:hover {
  background-color: var(--blue);
  color: var(--very-light-gray);
}

.border-blue {
  border: 2px solid var(--blue);
}

.glass {
  background: #2991d6;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.scale-img-hover {
  & img:hover {
    transform: scale(1.1);
    transition: all 0.5s ease;
  }
}

/* SLIDER TOP HOME */

.c-item {
  height: 480px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.caption-slide {
  left: 15%;
  bottom: 15%;
  & h2 {
    font-size: clamp(16px, 4vw, 32px);
  }
}

/* HEADER NAV TOP */

#btn-navbar-collapse {
  display: flex;
  flex-direction: column;
  width: 50px;
  cursor: pointer;

  & span {
    background: var(--medium-gray);
    border-radius: 10px;
    height: 4px;
    margin: 4px 0;
    transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }

  & span:nth-of-type(1) {
    width: 50%;
  }

  & span:nth-of-type(2) {
    width: 100%;
  }

  & span:nth-of-type(3) {
    width: 75%;
  }

  & input[type="checkbox"]:checked ~ span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 0px);
  }

  & input[type="checkbox"]:checked ~ span:nth-of-type(2) {
    transform-origin: top;
    transform: rotatez(-45deg);
  }

  & input[type="checkbox"]:checked ~ span:nth-of-type(3) {
    transform-origin: bottom;
    width: 50%;
    transform: translate(20px, -4px) rotatez(45deg);
  }
}

#header-top {
  background-color: var(--light-gray);
  color: var(--medium-gray);
}

.social-icons {
  & li a {
    color: var(--medium-gray);
  }
}

.social-icons-footer {
  & li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--very-light-gray);
    background-color: var(--dark-gray);
  }
  & li a:hover {
    color: var(--blue);
    background-color: white;
  }
}

.social-icons-team {
  & li a {
    color: white;
    font-size: 13px;
    width: 36px;
    height: 36px;
    background-color: var(--medium-gray);
    transition: all 0.5s ease-in-out 0s;
  }
  & li a:hover {
    background-color: var(--blue);
    transform: scale(1.2);
  }
}

#navbar-header-layout {
  background-color: var(--very-dark);
}

.header-navbar-top {
  -webkit-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
}

.navbar-nav {
  & .nav-link,
  .dropdown-item {
    color: var(--medium-gray);
    font-size: 13px;
  }

  & .dropdown-item {
    padding: 9px 20px;
  }

  & .dropdown-item:hover {
    color: var(--blue);
    background-color: var(--very-dark-gray);
  }

  & .dropdown-menu {
    background-color: transparent;
  }
}

.nav-link-header-layout {
  color: var(--medium-gray);
}
.nav-link-header-layout:hover {
  color: var(--blue);
}

#logout-btn {
  background-color: var(--very-dark);
  .dropdown-item {
    color: var(--medium-gray);
  }

  & .dropdown-item {
    padding: 9px 20px;
  }

  & .dropdown-item:hover {
    color: var(--blue);
    background-color: var(--very-dark-gray);
  }
}

.progress-container {
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.progress-bar {
  height: 5px;
  background-color: var(--blue);
  width: 0%;
}
/* HOME PAGE */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 4rem;
}

.fa-angle-left,
.fa-angle-right {
  font-size: 3rem;
}

.card-utilities {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.card-utilities .row {
  align-items: center;
  height: 100vh;
}

.card {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all 2.3s;
  perspective: 1200px;
}
.card:hover .cover {
  transform: rotateX(0deg) rotateY(-180deg);
}
.card:hover .cover:before {
  transform: translateZ(30px);
}
.card:hover .cover:after {
  background-color: black;
}
.card:hover .cover h1 {
  transform: translateZ(100px);
}
.card:hover .cover .price {
  transform: translateZ(60px);
}
.card:hover .cover a {
  transform: translateZ(-60px) rotatey(-180deg);
}
.card .cover {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card .cover:before {
  content: "";
  position: absolute;
  border: 5px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  transition: ease all 2.3s;
  transform-style: preserve-3d;
  transform: translateZ(0px);
}
.card .cover:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  transition: ease all 1.3s;
  background: rgba(0, 0, 0, 0.4);
}
.card .cover.item-a {
  background-image: url("../../../public/assets/images/uti-banner.png");
  background-position: center left;
}
.card .cover.item-b {
  background-image: url("../../../public/assets/images/depacopan.jpg");
}
.card .cover.item-c {
  background-image: url("../../../public/assets/images/teacher-tools.jpg");
}

.card .cover.item-d {
  background-image: url("../../../public/assets/images/students-tools.jpg");
}
.card .cover h1 {
  font-weight: 600;
  position: absolute;
  bottom: 55px;
  left: 30px;
  color: white;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  z-index: 3;
  font-size: 1.6rem;
  transform: translateZ(0px);
}

.card .card-back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #0b0f08;
  transform-style: preserve-3d;
  transition: ease all 2.3s;
  transform: translateZ(-1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card .card-back span {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
  background: transparent;
  font-weight: 200;
  font-size: 1.3em;
  color: white;
  padding: 14px 32px;
  outline: none;
  text-decoration: none;
  text-align: center;
}

.card .card-back a {
  transform-style: preserve-3d;
  transition: ease transform 2.3s, ease background 0.5s;
  transform: translateZ(-1px) rotatey(-180deg);
}

.ov-btn-slide-left {
  background: transparent;
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 5px 30px;
  border-radius: 3px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-left:hover {
  color: #fff;
}
.ov-btn-slide-left::after {
  content: "";
  background: var(--blue);
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}
.ov-btn-slide-left:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.bg-texture {
  background: url("../../../public/assets/images/parallax-bg.jpg") no-repeat
    center top fixed;
  background-size: cover;
  width: 100%;
  float: left;
  padding: 80px 0 40px 0;
}
.bg-texture-dark {
  background: url("../../../public/assets/images/bg-texture-1.jpg") no-repeat
    center top fixed;
  background-size: cover;
  width: 100%;
  float: left;
  padding: 100px 0 100px 0;
}

.numbers {
  font-size: 60px;
}

.title-line {
  background-color: var(--blue);
  height: 2px;
  margin: 10px auto 25px 0;
  padding: 0;
  width: 50px;
}

.user-info {
  width: 40vh;
}

/* ABOUT US SECTION */
#banner-about {
  background: url("../../../public/assets/images/parallax-bg.jpg") no-repeat
    center top fixed;
  background-size: cover;
  width: 100%;
  float: left;
  padding: 100px 0;
}

.card-dark-about {
  color: var(--very-light-gray);
  border: 1px solid var(--dark-gray);
  border-left: 5px solid var(--dark-gray);
  height: 250px;
}

.card-dark-about:hover {
  border-left-color: var(--medium-gray);
  transition: all 0.3s ease;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.container-auto-slide {
  overflow: hidden;
  background: white;
  white-space: nowrap;
  position: relative;
  display: flex;
}

.container-auto-slide:before,
.container-auto-slide:after {
  position: absolute;
  top: 0;
  width: 100px;
  height: 100%;
  content: "";
  z-index: 2;
}

.container-auto-slide:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.container-auto-slide:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.container-auto-slide:hover .auto-slide {
  animation-play-state: paused;
}

.auto-slide {
  display: flex;
  animation: 35s slide infinite linear;
}

.item-slide {
  display: flex;
  width: 150px;
  height: 150px;

  & div,
  h6,
  span {
    opacity: 0;
    transition: all 0.5s ease;
  }

  & h6 {
    font-size: clamp(1rem, 1.5vw, 1.5rem);
  }

  & span {
    font-size: clamp(0.5rem, 1.5vw, 1rem);
  }
}

.item-slide:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;

  & div,
  h6,
  span {
    display: block;
    opacity: 100%;
  }

  & div {
    opacity: 75%;
  }
}

/* UTI SECTION */

.aside-uti {
  position: absolute;
  left: -100%;
  height: 100%;
  top: 0;
  background-color: var(--very-dark);
  transition: all 0.4s ease;
}

.aside-links-uti {
  color: var(--blue);
  background-color: transparent;
}

.aside-links-uti > a {
  color: inherit;
}

.aside-links-uti:hover {
  background-color: var(--blue);
  color: var(--very-light-gray);
  transition: all 0.3s;
}

/* ONLINE APPLICATIONS */

.title-online-app {
  background: #2991d6;
  background: linear-gradient(to right, #2991d6 0%, #cfa98b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* PNTED */
#container-image-pnted {
  & img {
    left: 0;
  }

  & .opacity-div {
    opacity: 75%;
  }

  & i,
  h5,
  p {
    color: var(--very-light-gray);
  }
}

/* TOOLS SECTION */
.glass-card {
  position: relative;
  /* width: 200px; */
  height: 250px;
  border-radius: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.glass-card-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 96%;
  height: 96%;
  background: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.glass-card-blob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 150px;
  border-radius: 50%;
  background-color: #049bff;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}

@media (min-width: 768px) {
  .aside-uti {
    position: fixed;
    top: auto;
    left: 0;
    background-color: transparent;
  }

  #container-image-pnted {
    & img {
      left: 100%;
    }

    & .opacity-div {
      opacity: 0;
    }

    & i {
      color: var(--blue);
    }

    & h5 {
      color: var(--dark-gray);
    }

    p {
      color: var(--medium-gray);
    }
  }

  #container-image-pnted:hover {
    & img {
      left: 0;
    }

    & .opacity-div {
      opacity: 75%;
    }

    & i,
    h5,
    p {
      color: var(--very-light-gray);
    }
  }

  .item-slide {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 992px) {
  #navbar-header-layout {
    background-color: transparent;
  }

  .navbar-nav {
    & .dropdown-menu {
      background-color: var(--very-dark);
    }
  }

  #about-link + .dropdown-menu.show {
    display: flex;
  }
}
