<section class="row px-3 px-md-4 px-lg-5 mt-3 w-100">
    
   <div class="col-12 mb-4">
     <b>Primera Reunión</b>
     <span class="d-block fw-light col-12">Fecha: 28 de Febrero 2023</span>
     <h4 class="fw-bold col-12">Jornada de inducción PNTED RS Equipo implementador</h4>
     <div class="col-12">
         <iframe width="100%" height="500" src="https://www.youtube.com/embed/hRmH3OrkfYA?si=N-8HwqfdqU0CVfge" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
         
     </div>
   </div>
   <div class="col-12 mb-4">
     <b>Segunda Reunión</b>
     <span class="d-block fw-light col-12">Fecha: 01 de Marzo 2023</span>
     <a href="https://lat.fictionexpress.com/" class="fw-bold col-12">Enlace para acceder a Fiction Express</a>
     <h4 class="fw-bold col-12">Taller de entrenamiento 1 Plataforma Fiction Express-PNTED</h4>
     <div class="col-12">
         <iframe width="100%" height="500" src="https://www.youtube.com/embed/tmdPzSBJVKE?si=aD5qACmjQ0WMwrKQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
     </div>
   </div>

 <div class="col-12 mb-4">
       <b>Tercer Reunión</b>
       <span class="d-block fw-light col-12">Fecha: 02 de Marzo 2023</span>
       <a href="https://www.microsoft.com/es-es/microsoft-365/try" class="fw-bold col-12">Enlace para acceder a Microsoft 365 en línea</a>
       
       <div class="col-12">
           <iframe width="100%" height="500" src="https://www.youtube.com/embed/sWKxfhf_YP0?si=zm7Y1OVCj_6Z_YXg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       </div>
 </div>

<div class="col-12 mb-4">
    <b>Cuarta Reunión</b>
    <span class="d-block fw-light col-12">Fecha: 03 de Marzo 2023</span>
    <h4 class="fw-bold col-12">Taller de entrenamiento 1 PLATAFORMA MATEMÁTICAS (ALEKS)-PNTED</h4>
        <div class="col-12">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/tejVdiFkbwU?si=znTLfkxAcKOFp872" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
</div>
    
    <div class="col-12 mb-4">
        <h4 class="fw-bold col-12">Seminarios del Programa Nacional de Transformación Educativa Digital</h4>
        <b>Quinta Reunión</b>
        <span class="d-block fw-light col-12">Fecha: 07 de Marzo 2023</span>
        <div class="col-12">
            <iframe width="100%" height="500" src="https://www.youtube.com/embed/RfaLQYvCX3E?si=G6V2Yh9IB-9HzjRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</section>